<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stone.notificationfilter">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.stone.notificationfilter.MainActivity"
            android:configChanges = "keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.stone.notificationfilter.notificationhandler.FiliterActivity"></activity>
        <activity android:name="com.stone.notificationfilter.notificationhandler.AddFiliterActivity"></activity>

        <activity android:name="com.stone.notificationfilter.FiliterActivity"></activity>

        <activity android:name="com.stone.notificationfilter.fragment.FloatTileCustomView"></activity>
        <activity android:name="com.stone.notificationfilter.AddFiliterActivity"></activity>
        <activity android:name="com.stone.notificationfilter.CheckNotificationLogActivity"></activity>
        <activity android:name="com.stone.notificationfilter.Donate" />

        <service
            android:name="com.stone.notificationfilter.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
<!--            <intent-filter android:priority="1000" />-->
        </service>
        <service
            android:name=".NotificationTileService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:description="@string/app_name"
            android:splitName="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".util.NotificationCollectorMonitorService"/>
    </application>

</manifest>